<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/switchStyle.css">
    <title>JCRLabs | Matrix Switch</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>JCRLabs Matrix Switch 8 | Beta</h1>
            <div id="top-menu">
                <a href="">Settings</a>
                <p> | </p>
                <a href="">Restart</a>
                <p> | </p>
                <a href="">Shutdown</a>
            </div>
        </header>
        <div class="switch">
            <div class="grid-container">
                <p id="s1">Source 1</p>
                <p id="s2">Source 2</p>
                <p id="s3">Source 3</p>
                <p id="s4">Source 4</p>
                <p id="s5">Source 5</p>
                <p id="s6">Source 6</p>
                <p id="s7">Source 7</p>
                <p is="s8">Source 8</p>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <div class="jack"></div>
                <select name="d1" id="d1">
                    <option value="d1" selected>Dest 1</option>
                    <option value="d2">Dest 2</option>
                    <option value="d3">Dest 3</option>
                    <option value="d4">Dest 4</option>
                    <option value="d5">Dest 5</option>
                    <option value="d6">Dest 6</option>
                    <option value="d7">Dest 7</option>
                    <option value="d8">Dest 8</option>
                    <option value="bp">Bypass</option>
                </select>
                <select name="d2" id="d2">
                    <option value="d1">Dest 1</option>
                    <option value="d2" selected>Dest 2</option>
                    <option value="d3">Dest 3</option>
                    <option value="d4">Dest 4</option>
                    <option value="d5">Dest 5</option>
                    <option value="d6">Dest 6</option>
                    <option value="d7">Dest 7</option>
                    <option value="d8">Dest 8</option>
                    <option value="bp">Bypass</option>
                </select>
                <select name="d3" id="d3">
                    <option value="d1">Dest 1</option>
                    <option value="d2">Dest 2</option>
                    <option value="d3" selected>Dest 3</option>
                    <option value="d4">Dest 4</option>
                    <option value="d5">Dest 5</option>
                    <option value="d6">Dest 6</option>
                    <option value="d7">Dest 7</option>
                    <option value="d8">Dest 8</option>
                    <option value="bp">Bypass</option>
                </select>
                <select name="d4" id="d4">
                    <option value="d1">Dest 1</option>
                    <option value="d2">Dest 2</option>
                    <option value="d3">Dest 3</option>
                    <option value="d4" selected>Dest 4</option>
                    <option value="d5">Dest 5</option>
                    <option value="d6">Dest 6</option>
                    <option value="d7">Dest 7</option>
                    <option value="d8">Dest 8</option>
                    <option value="bp">Bypass</option>
                </select>
                <select name="d5" id="d5">
                    <option value="d1">Dest 1</option>
                    <option value="d2">Dest 2</option>
                    <option value="d3">Dest 3</option>
                    <option value="d4">Dest 4</option>
                    <option value="d5" selected>Dest 5</option>
                    <option value="d6">Dest 6</option>
                    <option value="d7">Dest 7</option>
                    <option value="d8">Dest 8</option>
                    <option value="bp">Bypass</option>
                </select>
                <select name="d6" id="d6">
                    <option value="d1">Dest 1</option>
                    <option value="d2">Dest 2</option>
                    <option value="d3">Dest 3</option>
                    <option value="d4">Dest 4</option>
                    <option value="d5">Dest 5</option>
                    <option value="d6" selected>Dest 6</option>
                    <option value="d7">Dest 7</option>
                    <option value="d8">Dest 8</option>
                    <option value="bp">Bypass</option>
                </select>
                <select name="d7" id="d7">
                    <option value="d1">Dest 1</option>
                    <option value="d2">Dest 2</option>
                    <option value="d3">Dest 3</option>
                    <option value="d4">Dest 4</option>
                    <option value="d5">Dest 5</option>
                    <option value="d6">Dest 6</option>
                    <option value="d7" selected>Dest 7</option>
                    <option value="d8">Dest 8</option>
                    <option value="bp">Bypass</option>
                </select>
                <select name="d8" id="d8">
                    <option value="d1">Dest 1</option>
                    <option value="d2">Dest 2</option>
                    <option value="d3">Dest 3</option>
                    <option value="d4">Dest 4</option>
                    <option value="d5">Dest 5</option>
                    <option value="d6">Dest 6</option>
                    <option value="d7">Dest 7</option>
                    <option value="d8" selected>Dest 8</option>
                    <option value="bp">Bypass</option>
                </select>
            </div>
        </div>
    </div>
</body>
</html>