<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/switchStyle.css">
    <title>JCRLabs | Matrix Switch</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>JCRLabs Matrix Switch 8 | Beta</h1>
            <div id="top-menu">
                <a href="/switch/settings">Settings</a>
                <p> | </p>
                <a href="">Restart</a>
                <p> | </p>
                <a href="">Shutdown</a>
            </div>
        </header>
        <div class="switch">
            <div class="grid-container">
                <p id="s1">Source 1</p>
                <p id="s2">Source 2</p>
                <p id="s3">Source 3</p>
                <p id="s4">Source 4</p>
                <p id="s5">Source 5</p>
                <p id="s6">Source 6</p>
                <p id="s7">Source 7</p>
                <p is="s8">Source 8</p>
                <div id="jo0" class="jack"></div>
                <div id="jo1" class="jack"></div>
                <div id="jo2" class="jack"></div>
                <div id="jo3" class="jack"></div>
                <div id="jo4" class="jack"></div>
                <div id="jo5" class="jack"></div>
                <div id="jo6" class="jack"></div>
                <div id="jo7" class="jack"></div>
                <div id="ji0" class="jack"></div>
                <div id="ji1" class="jack"></div>
                <div id="ji2" class="jack"></div>
                <div id="ji3" class="jack"></div>
                <div id="ji4" class="jack"></div>
                <div id="ji5" class="jack"></div>
                <div id="ji6" class="jack"></div>
                <div id="ji7" class="jack"></div>
                <select name="d1" id="d1">
                    <option value="0" selected>Dest 1</option>
                    <option value="1">Dest 2</option>
                    <option value="2">Dest 3</option>
                    <option value="3">Dest 4</option>
                    <option value="4">Dest 5</option>
                    <option value="5">Dest 6</option>
                    <option value="6">Dest 7</option>
                    <option value="7">Dest 8</option>
                    <option value="8">Bypass</option>
                </select>
                <select name="d2" id="d2">
                    <option value="0">Dest 1</option>
                    <option value="1" selected>Dest 2</option>
                    <option value="2">Dest 3</option>
                    <option value="3">Dest 4</option>
                    <option value="4">Dest 5</option>
                    <option value="5">Dest 6</option>
                    <option value="6">Dest 7</option>
                    <option value="7">Dest 8</option>
                    <option value="8">Bypass</option>
                </select>
                <select name="d3" id="d3">
                    <option value="0">Dest 1</option>
                    <option value="1">Dest 2</option>
                    <option value="2" selected>Dest 3</option>
                    <option value="3">Dest 4</option>
                    <option value="4">Dest 5</option>
                    <option value="5">Dest 6</option>
                    <option value="6">Dest 7</option>
                    <option value="7">Dest 8</option>
                    <option value="8">Bypass</option>
                </select>
                <select name="d4" id="d4">
                    <option value="0">Dest 1</option>
                    <option value="1">Dest 2</option>
                    <option value="2">Dest 3</option>
                    <option value="3" selected>Dest 4</option>
                    <option value="4">Dest 5</option>
                    <option value="5">Dest 6</option>
                    <option value="6">Dest 7</option>
                    <option value="7">Dest 8</option>
                    <option value="8">Bypass</option>
                </select>
                <select name="d5" id="d5">
                    <option value="0">Dest 1</option>
                    <option value="1">Dest 2</option>
                    <option value="2">Dest 3</option>
                    <option value="3">Dest 4</option>
                    <option value="4" selected>Dest 5</option>
                    <option value="5">Dest 6</option>
                    <option value="6">Dest 7</option>
                    <option value="7">Dest 8</option>
                    <option value="8">Bypass</option>
                </select>
                <select name="d6" id="d6">
                    <option value="0">Dest 1</option>
                    <option value="1">Dest 2</option>
                    <option value="2">Dest 3</option>
                    <option value="3">Dest 4</option>
                    <option value="4">Dest 5</option>
                    <option value="5" selected>Dest 6</option>
                    <option value="6">Dest 7</option>
                    <option value="7">Dest 8</option>
                    <option value="8">Bypass</option>
                </select>
                <select name="d7" id="d7">
                    <option value="0">Dest 1</option>
                    <option value="1">Dest 2</option>
                    <option value="2">Dest 3</option>
                    <option value="3">Dest 4</option>
                    <option value="4">Dest 5</option>
                    <option value="5">Dest 6</option>
                    <option value="6" selected>Dest 7</option>
                    <option value="7">Dest 8</option>
                    <option value="8">Bypass</option>
                </select>
                <select name="d8" id="d8">
                    <option value="0">Dest 1</option>
                    <option value="1">Dest 2</option>
                    <option value="2">Dest 3</option>
                    <option value="3">Dest 4</option>
                    <option value="4">Dest 5</option>
                    <option value="5">Dest 6</option>
                    <option value="6">Dest 7</option>
                    <option value="7" selected>Dest 8</option>
                    <option value="8">Bypass</option>
                </select>
            </div>
        </div>

    </div>
<script src="../Static/switch.js"></script>
</body>
</html>